<div class= "box">
    <img src='../../assets/cadena.png'>
</div>
<br>    
<br>
<a href="/user" class="btn btn-outline-danger btn-block; home" ng-click="active='home'" style="margin-left: 100px;margin-top: -15px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px;"><b>Inicio</b></a>
<div class='box'>
  <h1 style="text-align: center; color: dimgray; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"><b>{{settingsmsg}} grupo</b></h1>
</div>
<br>
<div class="container">
  <div class= "wrap" style="align-items: center; margin-left: 200px; margin-right: 200px;">
  <br>
  <label style="margin-left: 25px; color: dimgray;" >
    <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 22px; margin-left: 20px;" > Nombre: </b>
    <input type="text" #newname value="{{groupname}}"></label><br>
  
    <label style="margin-left: 25px; color: dimgray;" >
    <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 22px; margin-left: 20px;" > Descripción: </b>
    <input type="text" #newdescription value="{{groupdescription}}"></label><br>
    
    
    <label style="margin-left: 25px; color: dimgray;" id="selectlabel" >
      <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 22px; margin-left: 20px;" > Grupo de Usuarios a asociar: </b>
       <select name="miselect"  [(ngModel)]="namegroup">
        <option [value]="item" *ngFor="let item of itemsselect">{{item}}</option>
      </select>
      </label><br >
      <label style="margin-left: 25px; color: dimgray;" >
      <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 22px; margin-left: 20px;" > Activo: </b>
      <mat-slide-toggle [formControl]="activevalue" [checked]="active" (change)="onChange()"></mat-slide-toggle></label>
    <br>
    <br>
    <br>
     <a (click)="creategroup(newname.value, newdescription.value, namegroup)"  class="btn btn-outline-danger btn-block; home" style="margin-left: 100px;margin-top: -15px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 25px;"><b>{{settingsmsg}}</b></a>
     <a href="/{{groupType}}" class="btn btn-outline-danger btn-block; home" ng-click="active='home'" style="margin-left: 100px;margin-top: -15px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 25px;"><b>Cancelar</b></a>

    <br>  
  </div>
</div>
