
<div align='left'>
    <div>
        <img src='../../assets/cadena.png'>
      </div> 
  </div>

  <div id="name"></div>
  <div id="main">
    <link rel="pantalla-inicio" href="user-component.component.css">
    
    <div class="nav"  ng-click="$event.preventDefault()" >
      <div class="nav-links">
      <a href="/candados"  ng-click="active='candado'"> Historial de candados </a>
      <!-- <a href="/register1" ng-click="active='register'"> Registro de Usuarios </a> -->
      <a href="/register2" ng-click="active='register2'"> Registro de usuarios </a>
      <a href="/candados1"  ng-click="active='candadoi'">Administración de candados</a>
      <a href="#" class="contact" ng-click="active='contact'"> Contacto </a>
      <a href ="/login"(click)="logout()" > Salir </a>
    </div>
  </div>
  
  </div>
  
  <!-- <ng-click="active='register'">Registro de usuarios  -->
  <!-- <a href="/candadosinfo"  ng-click="active='candado'" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 12.4px;">Información De Candados</a>-->
     

 
