
<div align='left'>
    <div>
        <img src='cadena.png'>
      </div> 
  </div>

  <div id="name"></div>
  <div id="main">
    <link rel="pantalla-inicio" href="user-component.component.css">
    <nav class="{{active}}"  ng-click="$event.preventDefault()">
      <a href="/candados" class="{{active}}" ng-click="active='candado'">Candados</a>
      <a href="/register1" class="{{active}}"ng-click="active='register'">Registro de usuarios</a>
      <a href="#" class="contact" ng-click="active='contact'">Contacto</a>
      <a href ="/login"(click)="logout()" class="button">Salir</a>

   </nav>
  </div>
  
     

 
