<div class= "box">
    <img src='../../assets/cadena.png'>
</div>
<br>
<br>
<a href="/user" class="btn btn-outline-danger btn-block; home" ng-click="active='home'" style="margin-left: 100px; margin-top: -15px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-family: 16px;"><b>Inicio</b></a>
<div class='box'>
  <h1 style="text-align: center; color: dimgray; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"><b>Grupos</b></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="md-form">                    
            <!-- <p>
            <input type="text" [(ngModel)]="searchText" id="search" mdbInput (ngModelChange)="searchItems($event)" style="border-radius: 5px; margin-top: -10px;">
            </p>  -->

            <!-- <p>
              <label for="search" style="color: dimgray; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px;"><b>Filtrar Por :</b></label><br>
              <select name="miselect" [(ngModel)]="selectGroup" mdbInput  (ngModelChange)="SelectGroup($event)" >
                <option [value]="item" *ngFor="let item of selectobject">{{item}}</option>
              </select>

            </p> -->
          </div>
        </div>
    </div>  
    <br>
    <table mdbTable #tableEl="mdbTable" class="table">
      <thead>
      <tr>
        <th style="font-size: 16px; color: floralwhite; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><b>Nombre</b></th>
        <th style="font-size: 16px; color: floralwhite; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><b>Ver</b></th> 
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of groupobject; let i = index">
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{order.nombre}}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><a (click)="gotoeditgroup(order.nombre)" class="btn btn-outline-danger btn-block; home"  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px;"><b style="color: firebrick;" >Ver</b></a></td>
      </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr >
        <td colspan="8"  >
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="groupobject"></mdb-table-pagination >
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
