
<div class= "w3-third" >
    <img src='cadena.png' alt='Cadena, juntos lo hacemos posible' >
    <h1 align ="center">Ingreso al sistema</h1>
</div>

<div class= "wrap" align ='center'>
    
    <form [formGroup]="loginForm">
      
      <div class="bar" >
      <input type="email" formControlName="email" class="form-control" placeholder="email" required>
      </div>
      <i ></i>
      <label class="error">{{errorMessage}}</label>
      <div class="bar" >
        <input  type="password" class="form-control" formControlName="password" placeholder="password" required>
          <i></i>
      </div>
      <div>
        <hr />
      </div>

      <div>
          <button  type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-default" href="/inicio">Ingresa</button>
      </div>
      
    </form>
</div>


    
  
