
<div class= "box">
    <img src='../../assets/cadena.png'>
</div>
<br>
<br>
<a href="/user" class="btn btn-outline-danger btn-block; home" ng-click="active='home'" style="margin-left: 100px;margin-top: -15px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px;"><b>Inicio</b></a>
<div class='box'>
  <h1 style="text-align: center; color: dimgray; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"><b>Tabla Información De Candados</b></h1>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="md-form">
            <p>
            <label for="search" style="color: dimgray; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 18px;"><b>Filtrar Por :</b></label><br>
            <input type="text" [(ngModel)]="searchText" id="search" mdbInput (ngModelChange)="searchItems($event)" style="border-radius: 5px; color: dimgray; margin-top: -10px;">
            </p> 
          </div>
        </div>
    </div>  
    <br>
    <table mdbTable #tableEl="mdbTable" class="table">
      <thead>
      <tr>
        <th style="font-size: 16px; color: floralwhite; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><b>Identificador</b></th>
        <th style="font-size: 16px; color: floralwhite; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><b>Estado</b></th>
        <th style="font-size: 16px; color: floralwhite; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><b>Estación</b></th>
        <th style="font-size: 16px; color: floralwhite; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><b>Editar</b></th>   
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of Candados; let i = index">
       <!--  <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
            scope="row">{{order.ciudad}}</th> -->
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{ order.nombreCandado }}<br></td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{ order.permiso }}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{ order.idEstacion }}</td>
            <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"><a href="/admin" class="btn btn-outline-danger btn-block; home" ng-click="active='adminc'" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: 16px;"><b>Editar</b></a></td>
            
      </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr >
        <td colspan="8"  >
          <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="Candados"></mdb-table-pagination >
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
